services:
  searxng:
    image: searxng/searxng:latest
    ports:
      - "8888:8080"
    dns:
      - 8.8.8.8
      - 1.1.1.1
    volumes:
      - ./searxng/config:/etc/searxng:rw
      - ./searxng/data:/var/cache/searxng:rw
