annotated-types==0.7.0
backports.tarfile==1.2.0
distro==1.9.0
importlib-metadata==8.7.1
jaraco-context==6.1.0
jaraco-functools==4.4.0
jaraco.text==4.0.0
jiter==0.10.0
jsonlines==4.0.0
openai==0.28.1
pip-chill==1.0.3
platformdirs==4.4.0
pydantic==1.10.22
pydantic-core==2.33.2
pysocks==1.7.1
pyyaml==6.0.2
scholarly==1.7.11
scikit-learn==1.7.2
streamlit==1.48.0
tomli==2.4.0
typing-inspection==0.4.1
